<div class="p-5">
  <div class="row pt-5 nuevomapaback">
    <div class="col from-group pt-5">
      <div class="nueva container-fluid shadow-sm p-5">
        <%= form_with model: @publication, local: true do |f| %>
            <div class="shadow-sm container">
              <p><%= f.label :name, "Nombre" %></p>
              <p><%= f.text_field :name, class: "form-control" %></p>
            </div>
            <div class="field container shadow-sm">
              <p><%= f.label :photo, "Imagen" %></p>
              <p><%= f.file_field :photo, id: :photo_image %></p>
              </div>
            <div class="field container shadow-sm">
              <p><%= f.label :description, "Descripción" %></p>
              <p><%= f.text_area :description, class: "form-control-lg", rows: 6 %></p>
            </div>
            <div class="">
              <p><%= f.hidden_field :latitude %></p>
              <p><%= f.hidden_field :longitude %></p>
            </div>
            <div class="container">
              <%= f.submit "Enviar", class: "btn shadow-sm" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col p-3 mapanuevo shadow-sm">
      <div class="col container" id="mapid">
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
	    var mymap = null;
      mymap = L.map('mapid').locate({setView: true, maxZoom: 16});
	    createMap(mymap);
	    selectPetLocation(mymap);
	});
</script>
