<div class="row pt-5">
  <div class="col">
    <%= form_with model: @pet, local: true do |f| %>
        <div class="">
          <p><%= f.label :name, "Nombre" %></p>
          <p><%= f.text_field :name %></p>
        </div>
        <div class="field">
          <p><%= f.label :photo, "Imagen" %></p>
          <p><%= f.file_field :photo, id: :photo_image %></p>
          </div>
        <div class="">
          <p><%= f.label :injured, "¿La mascota esta herida? " %> <%= f.check_box :injured %></p>
          <p></p>
        </div>
        <div class="">
          <p><%= f.label :descrption, "Descripción" %></p>
          <p><%= f.text_area :description %></p>
        </div>
        <div class="">
          <p><%= f.text_field :latitude %></p>
          <p><%= f.text_field :longitude %></p>
        </div>
        <div class="">
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
  <div class="col" id="mapid">
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
	    var mymap = null;
      mymap = L.map('mapid').locate({setView: true, maxZoom: 16});
	    createMap(mymap);
	    selectPetLocation(mymap);
	});
</script>
